alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias gaa="git add ."
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias code="cd ~/desktop/code"
alias plugin="cd ~/desktop/code/plugins/wp-content/plugins"
alias phpunit="vendor/bin/phpunit"
alias p="vendor/bin/phpunit"
alias pf="phpunit --filter"
alias art="php artisan "
alias idehelper='art clear-compiled && art ide-helper:generate && art ide-helper:meta'
alias idemodel='art clear-compiled && art ide-helper:models'
alias comp='composer'
alias codu='composer du'
alias coduo='composer du -o'
alias tinker='art tinker'
alias nrw='npm run watch'
alias nrd='npm run dev'
alias nrp='npm run prod'
